{% extends 'base.html' %}

{% block main %}

<h1 id="trade-text" class="display-3 text-center mt-5">Edit a trade</h1>
<form id="trade_form" method="POST">
    {{ form.hidden_tag() }}

    {% for field in form if field.widget.input_type != 'hidden' %}
    <div>
      {{ field(placeholder=field.label.text, class="form-control") }}
      {% for error in field.errors %}
        <small class="text-danger">{{ error }}</small>
      {% endfor %}
    </div>
    {% endfor %}

    <select class="form-control mb-2" id="available" name="available">
        <option value=True>Available</option>
        <option value=False>Sold</option>
    </select>

    <button class="btn btn-success">Save</button>
    <a href="/trades/{{trade.id}}" class="btn btn-danger">Cancel</a>
</form>

{% endblock %}
