<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CarTraders</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/flatly/bootstrap.min.css" integrity="sha384-qF/QmIAj5ZaYFAeQcrQ6bfVMAh4zZlrGwTPY7T/M+iTTLJqJBJjwwnsE5Y0mV7QK" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="/static/css/app.css">
</head>
<body>
    <nav id="navbar" class="navbar navbar-expand-sm navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"><i class="fas fa-car fa-lg mr-2"></i>CarTraders</a>
            <ul class="navbar-nav">
                {% if current_user.is_authenticated %}
                <li class="nav-item mr-3">
                    <a class="nav-link" href="/trades/new">New Trade</a>
                </li>
                <li class="nav-item">
                    <form action="/logout" method="POST">
                        <button id="logout" class="btn btn-link nav-link">Logout <small>({{current_user.username}})</small></button>
                    </form>
                </li>
                {% else %}
                <li class="nav-item mr-3">
                    <a class="nav-link" href="/signup">Signup</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <div class="container">
        {% for category, message in get_flashed_messages(with_categories=True) %}
        <div class="flash-msg alert alert-{{ category }}">{{ message }}</div>
        {% endfor %}
        {% block main %}{% endblock %}     
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    {% block scripts %}{% endblock %}
</body>
</html>